body, html{
    font: 4px "lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 0;
    width: 100%;
    margin: 0;
}

a{
    color: #00B7ff;
}
#content{
    width: 100%;
    margin:0 auto;
}
#room{
    background-color: black;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#messages{
    width: 100%;
    padding-right: 150px;
    height: 400px;
    overflow: auto;
    background-color: #eee;
    box-sizing: border-box;
    margin-bottom: 1em;
    margin-right:1px;
    padding-right: 150px;
}

#room-list{
    position: absolute;
    top:50px;
    right:0;
    width: 150px;
    height: 400px;
    overflow: auto;
    box-sizing: border-box;
    background-color: palegreen;
}

#room-list div{
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#room-list #room-wrapper div:hover{
    background-color: #ddd;
}

#send-message{
    width: 700px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help {
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.msg-box{
    line-height: 25px;
    text-align: left;
    margin: 5px 0;
}
.msg-box.self{
    text-align: right;
}
.msg-box span{
    display: inline-block;
    height:25px;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 8px;
}
.msg-box.self span{
    background-color: midnightblue;
    color: #fff;
    margin-right: 8px;
}
